<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/sameerkathawate/IdeaProjects/SeleniumTutorial/src/test/java/com/seleniumtest/tests/LoginTests.java">
        <parameter name="username" value="admin"></parameter>
        <parameter name="userPassword" value="youpassword"></parameter>
        <classes>
            <class name="com.seleniumtest.tests.LoginTests">
                <methods>
                    <include name="verifyHappyPathLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>